# Project (P2)

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
%matplotlib inline

DATA_FOLDER = 'data/'
WIKISPEEDIA_PATHS = DATA_FOLDER + "wikispeedia_paths-and-graph/"
WIKIDATA_PATH = DATA_FOLDER + "wikidata/"

ARTICLES = WIKISPEEDIA_PATHS + "articles.tsv"
CATEGORIES = WIKISPEEDIA_PATHS + "categories.tsv"
LINKS = WIKISPEEDIA_PATHS + "links.tsv"
PATHS_FINISHED = WIKISPEEDIA_PATHS + "paths_finished.tsv"
PATHS_UNFINISHED = WIKISPEEDIA_PATHS + "paths_unfinished.tsv"

FEMALE_ACTORS = WIKIDATA_PATH + "female_actors.csv"
FEMALE_CELEB = WIKIDATA_PATH + "female_celeb.csv"
FEMALE_MODEL = WIKIDATA_PATH + "female_model.csv"

FEMALE = WIKIDATA_PATH + "female_wikidata.csv"
FEMALES = "listwomen.txt"

In [10]:
articles = pd.read_csv(ARTICLES, sep='\t', names=["article"], skiprows = 12)
categories = pd.read_csv(CATEGORIES, sep='\t', names=["article", "category"], skiprows = 13)
links = pd.read_csv(LINKS, sep='\t', names=["link_source", "link_target"], skiprows = 12)
paths_finished = pd.read_csv(PATHS_FINISHED, sep='\t', names=["hashedIpAddress", "timestamp", "durationInSec", "path", "rating"], skiprows = 15)
paths_unfinished = pd.read_csv(PATHS_UNFINISHED, sep='\t', names=["hashedIpAddress", "timestamp", "durationInSec", "path", "target", "type"], skiprows = 17)

In [11]:
female_actors = pd.read_csv(FEMALE_ACTORS, sep=',', names=["women", "women_label"], skiprows = 1)
female_celeb =  pd.read_csv(FEMALE_CELEB, sep=',', names=["women", "women_label"], skiprows = 1)
female_model =  pd.read_csv(FEMALE_MODEL, sep=',', names=["women", "women_label"], skiprows = 1)

female = pd.read_csv(FEMALE, sep=',', names=["women", "women_label"], skiprows = 1)

#### Pre-processing for merging

In [28]:
females = pd.read_csv(FEMALES, sep=',', names=["women", "women_label"], skiprows = 1)

In [29]:
paths = paths_finished["path"].str.split(";", n = 1, expand = True)

paths_finished['source'] = paths_finished['path'].str.split(';').str[0]
paths_finished['target'] = paths_finished['path'].str.split(';').str[-1]
(paths_finished.groupby('source')['path'].count()).loc[lambda x: x > 1].sort_values(ascending = False)

source
Brain                                 1092
Asteroid                              1059
Theatre                                931
Pyramid                                674
Batman                                 602
                                      ...
Richmond%2C_Virginia                     2
Stornoway                                2
Collapse_of_the_World_Trade_Center       2
Stock_car_%28rail%29                     2
Lighthouse_of_Alexandria                 2
Name: path, Length: 4028, dtype: int64

In [30]:
paths_unfinished['source'] = paths_unfinished['path'].str.split(';').str[0]

In [31]:
women = pd.read_csv(FEMALES, sep=',', names=['Name', 'Subject'], skiprows=1)
womenName = women['Name']
women.head()

               Name                                        Subject
0       Bette_Davis   subject.People.Actors_models_and_celebrities
1    Britney_Spears   subject.People.Actors_models_and_celebrities
2      Diane_Keaton   subject.People.Actors_models_and_celebrities
3      Emma_Roberts   subject.People.Actors_models_and_celebrities
4  Evan_Rachel_Wood   subject.People.Actors_models_and_celebrities

In [32]:
people = categories.loc[list(map(lambda x: x.startswith('subject.People.'), categories['category']))]
people.head()

                             article                                category
1   %C3%81ed%C3%A1n_mac_Gabr%C3%A1in       subject.People.Historical_figures
4                 %C3%89douard_Manet                  subject.People.Artists
8         %C3%93engus_I_of_the_Picts       subject.People.Historical_figures
67                  A._E._J._Collins  subject.People.Sports_and_games_people
88                 Abbas_I_of_Persia       subject.People.Historical_figures

In [33]:
menName = people[~people['article'].isin(womenName)]['article']

paths_women_target = paths_finished[paths_finished['target'].isin(womenName)]
paths_men_target = paths_finished[paths_finished['target'].isin(menName)]

In [34]:
unpaths_women_target = paths_unfinished[paths_unfinished['target'].isin(womenName)]
unpaths_men_target = paths_unfinished[paths_unfinished['target'].isin(menName)]

In [19]:
print(f"Number of unfinished paths that have women as a target {len(unpaths_women_target)}")
print(f"Number of unfinished paths that have men as a target {len(unpaths_men_target)}")

Number of unfinished paths that have women as a target 342
Number of unfinished paths that have men as a target 2374

In [80]:
print(f"Number of finished paths that have women as a target {len(paths_women_target)}")
print(f"Number of finished paths that have men as a target {len(paths_men_target)}")

Number of finished paths that have women as a target 347
Number of finished paths that have men as a target 5566

In [85]:
print("The percentage of women targets in the People category are {:.0%}".format(len(paths_women_target)/(len(paths_women_target)+len(paths_men_target))))
print("The percentage of men targets in the People category are {:.0%}".format(len(paths_men_target)/(len(paths_women_target)+len(paths_men_target))))

The percentage of women targets in the People category are 6%
The percentage of men targets in the People category are 94%

#### MERGE

In [20]:
comb = paths_women_target[["source","target"]].merge(paths_men_target[["source","target"]], on=['source'], how = "inner")

In [23]:
comb

                        source                target_x             target_y
0                 14th_century  Elizabeth_I_of_England      John_F._Kennedy
1                 14th_century  Elizabeth_I_of_England      John_F._Kennedy
2                 14th_century  Elizabeth_I_of_England  Henry_David_Thoreau
3                 14th_century  Elizabeth_I_of_England      John_F._Kennedy
4                 14th_century  Elizabeth_I_of_England      John_F._Kennedy
..                         ...                     ...                  ...
469                 Ununoctium              Anne_Frank  Henry_IV_of_England
470   William_Pitt_the_Younger            Miranda_Otto             Socrates
471               Windows_2000             Bette_Davis        Ronald_Reagan
472               Windows_2000             Bette_Davis        Ronald_Reagan
473  J%C3%B3zef_Pi%C5%82sudski      Mary_II_of_England     Vincent_van_Gogh

[474 rows x 3 columns]

#### Getting familiar with the merged data

In [35]:
prufa = paths_finished[paths_finished['source'] == "Windows_2000"]
prufa

,hashedIpAddress,timestamp,durationInSec,path,rating,source,target
50476,014b4d6036ffb8b8,1272461517,47,Windows_2000;North_America;Rocky_Mountains,1.0,Windows_2000,Rocky_Mountains
50477,71fb60d162b33586,1361738031,341,Windows_2000;North_America;Atlantic_Ocean;Hond...,4.0,Windows_2000,Whale_shark
50478,1163a49e1ad6af95,1361879467,353,Windows_2000;North_America;Atlantic_Ocean;Dolp...,NaN,Windows_2000,Whale_shark
50479,606e0dce1de1789e,1249939459,256,Windows_2000;English_language;United_Kingdom;S...,3.0,Windows_2000,Liverpool_and_Manchester_Railway
50480,016b7c9754b71479,1381240053,120,Windows_2000;Microsoft;United_States;France;Su...,2.0,Windows_2000,R%C3%A9union
50481,6dc0945a51d8a4c7,1359013117,80,Windows_2000;Microsoft;United_States;George_Wa...,NaN,Windows_2000,Ronald_Reagan
50482,1117b7cc476daae7,1359133051,100,Windows_2000;North_America;Europe;Renaissance;...,NaN,Windows_2000,Mona_Lisa
50483,126c53a444812f50,1383746274,163,Windows_2000;Microsoft;United_States;Mexico;Ag...,3.0,Windows_2000,Avocado
50484,538533bf5bd35049,1324525766,670,Windows_2000;North_America;California;Arnold_S...,4.0,Windows_2000,Bette_Davis
50485,79a893b03dd4d771,1366290581,126,Windows_2000;North_America;United_States;Cinem...,NaN,Windows_2000,Bette_Davis

In [21]:
p = comb[comb["source"] == "Stratford-upon-Avon"]
p

                  source            target_x           target_y
131  Stratford-upon-Avon  Mary_I_of_Scotland  Winston_Churchill
132  Stratford-upon-Avon  Mary_I_of_Scotland     Tenzing_Norgay
133  Stratford-upon-Avon  Mary_I_of_Scotland     Tenzing_Norgay
134  Stratford-upon-Avon  Mary_I_of_Scotland     Tenzing_Norgay

In [122]:
sources = comb.groupby(comb["source"]).count()
print("The number of distinct sources that go both to women and men are {}".format(len(sources)))
print("The number of paths from all of these sources are {}".format(len(comb)))

The number of distinct sources that go both to women and men are 118
The number of paths from all of these sources are 474

In [129]:
df = sources.loc[sources['target_x'] != 1]
df

                target_x  target_y
source
14th_century          15        15
16th_century           2         2
Able_Archer_83         2         2
Acid_rain              8         8
Apollo_11              2         2
...                  ...       ...
Vitamin_D             10        10
Walrus                 2         2
Western_Sahara         3         3
Windows_2000           2         2
Zebra_shark            3         3

[78 rows x 2 columns]

In [160]:
paths_women_target

,hashedIpAddress,timestamp,durationInSec,path,rating,source,target
36,565d45cd17793fc6,1258502232,340,14th_century;England;London;Spanish_Armada;Eng...,4.0,14th_century,Elizabeth_I_of_England
37,42941e9c2e2391e3,1339792936,43,14th_century;England;James_I_of_England;Elizab...,NaN,14th_century,Elizabeth_I_of_England
38,067ebbe12b292e09,1347194180,186,14th_century;Hundred_Years%27_War;Henry_VI_of_...,NaN,14th_century,Elizabeth_I_of_England
39,067ebbe12b292e09,1347306098,109,14th_century;Hundred_Years%27_War;Henry_VI_of_...,3.0,14th_century,Elizabeth_I_of_England
40,50a37fed218932d3,1349365685,57,14th_century;Edward_III_of_England;Windsor_Cas...,2.0,14th_century,Elizabeth_I_of_England
...,...,...,...,...,...,...,...
50485,79a893b03dd4d771,1366290581,126,Windows_2000;North_America;United_States;Cinem...,NaN,Windows_2000,Bette_Davis
50940,3d09bfe7630f45f2,1298847424,103,C%C3%A6dmon;English_language;United_States;Cin...,NaN,C%C3%A6dmon,Vivien_Leigh
51110,493ee14c16f55ef9,1299115757,406,J%C3%B3zef_Pi%C5%82sudski;Russia;United_Kingdo...,NaN,J%C3%B3zef_Pi%C5%82sudski,Mary_II_of_England
51229,4d2b481a6649f6a0,1328564835,45,San_Diego_Electric_Railway;World_War_I;British...,1.0,San_Diego_Electric_Railway,Indira_Gandhi
51242,48ae1c95368820c9,1354478546,380,St_Paul%27s_Cathedral;Renaissance;Science;Phys...,NaN,St_Paul%27s_Cathedral,Marie_Curie

In [ ]:
women

In [24]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(comb)

                                                source  \
0                                         14th_century
1                                         14th_century
2                                         14th_century
3                                         14th_century
4                                         14th_century
5                                         14th_century
6                                         14th_century
7                                         14th_century
8                                         14th_century
9                                         14th_century
10                                        14th_century
11                                        14th_century
12                                        14th_century
13                                        14th_century
14                                        14th_century
15                                        Christianity
16                                        Christianity
17                                        Christianity
18                                        Christianity
19                                        Christianity
20                                        Christianity
21                                        Christianity
22                                        Christianity
23                                        Christianity
24                                        Christianity
25                                        Christianity
26                                        Christianity
27                                        Christianity
28                                        Christianity
29                                        Christianity
30                                        Christianity
31                                        Christianity
32                                        Christianity
33                                        Christianity
34                                        Christianity
35                                        Christianity
36                                        Christianity
37                                        Christianity
38                                        Christianity
39                                        Christianity
40                                        Christianity
41                                        Christianity
42                                        Christianity
43                                        Christianity
44                                        Christianity
45                                        Christianity
46                                        Christianity
47                                        Christianity
48                                        Christianity
49                                        Christianity
50                                        Christianity
51                                        Christianity
52                                        Christianity
53                                        Christianity
54                                        Christianity
55                                        Christianity
56                                        Christianity
57                                        Christianity
58                                        Christianity
59                                        Christianity
60                                        Christianity
61                                        Christianity
62                                        Christianity
63                                        Christianity
64                                        Christianity
65                                        Christianity
66                                        Christianity
67                                        Christianity
68                                        Christianity
69                                        Christianity
70                                        Christianity
71                                        Christianity
72                                        Christianity
73                                        Christianity
74                                        Christianity
75                                        Christianity
76                                        Christianity
77                                        Christianity
78                                        Christianity
79                                        Christianity
80                                        Christianity
81                                               Force
82                                               Haiti
83                                               Haiti
84                                            Humanism
85                                            Humanism
86                                            Humanism
87                                                Love
88                                                Love
89                                                Love
90                                       North_America
91                                       North_America
92                                         Roentgenium
93                                         Roentgenium
94                                         Roentgenium
95                                         Roentgenium
96                                           Telescope
97                                           Telescope
98                                              Walrus
99                                              Walrus
100                                           Bacteria
101                                           Buddhism
102                                       16th_century
103                                       16th_century
104                                       Yellow_fever
105                                              Jesus
106                                              Jesus
107                                              Jesus
108                                              Jesus
109                                              Jesus
110                                              Jesus
111                                              Jesus
112                                              Jesus
113                                              Jesus
114                                              Jesus
115                                              Jesus
116                                              Jesus
117                                              Jesus
118                                              Jesus
119                                              Jesus
120                                              Jesus
121                                              Jesus
122                                              Jesus
123                                              Jesus
124                                              Jesus
125                                              Jesus
126                                              Jesus
127                                              Jesus
128                                              Jesus
129                                              Jesus
130                                              Jesus
131                                Stratford-upon-Avon
132                                Stratford-upon-Avon
133                                Stratford-upon-Avon
134                                Stratford-upon-Avon
135                                William_Shakespeare
136                                             Dundee
137                                             Dundee
138                                             Dundee
139                                             Dundee
140                                             Dundee
141                                         Space_Race
142                                         Space_Race
143                                         Space_Race
144                                         Space_Race
145                                         Space_Race
146                                         Space_Race
147                                         Space_Race
148                                         Space_Race
149                                         Space_Race
150                                         Space_Race
151                                             Cancer
152                                             Cancer
153                                             Cancer
154                                     Charles_Darwin
155                                     Charles_Darwin
156                                     Charles_Darwin
157                                     Charles_Darwin
158                                  Tooth_development
159                                  Tooth_development
160                                  Tooth_development
161                                  Tooth_development
162                                  Tooth_development
163                                                Day
164                                            Ganesha
165                                            Ganesha
166                              Johann_Sebastian_Bach
167                              Johann_Sebastian_Bach
168                              Johann_Sebastian_Bach
169                              Johann_Sebastian_Bach
170                                          Apollo_11
171                                          Apollo_11
172                                             Galaxy
173                                               Unix
174                                               Unix
175                                               Unix
176                                               Unix
177                                               Unix
178                                               Unix
179                                               Unix
180                                 History_of_slavery
181                                 History_of_slavery
182                                 History_of_slavery
183                                        Miles_Davis
184                                        Philippines
185                                        Philippines
186                                        Philippines
187                                        Philippines
188                                        Philippines
189                                        Philippines
190                                        Philippines
191                                        Philippines
192                                        Philippines
193                                        Philippines
194                           List_of_rivers_by_length
195                           List_of_rivers_by_length
196                           List_of_rivers_by_length
197                           List_of_rivers_by_length
198                           List_of_rivers_by_length
199  Fourteenth_Amendment_to_the_United_States_Cons...
200  Fourteenth_Amendment_to_the_United_States_Cons...
201  Fourteenth_Amendment_to_the_United_States_Cons...
202  Fourteenth_Amendment_to_the_United_States_Cons...
203                                           Currency
204                                           Currency
205                                              Opera
206                                              Opera
207                                      Globalization
208                                      Globalization
209                                      Globalization
210                                      Globalization
211                                       Human_rights
212                                       Human_rights
213                                       Human_rights
214                                       Human_rights
215                              Arnold_Schwarzenegger
216                                             Google
217                                     Vladimir_Lenin
218                                          Cape_Town
219                                          Cape_Town
220                                          Cape_Town
221                                          Cape_Town
222                                          Cape_Town
223                                          Cape_Town
224                                          Indonesia
225                                           Barn_Owl
226                                           Barn_Owl
227                                           Barn_Owl
228                                           Barn_Owl
229                                          Acid_rain
230                                          Acid_rain
231                                          Acid_rain
232                                          Acid_rain
233                                          Acid_rain
234                                          Acid_rain
235                                          Acid_rain
236                                          Acid_rain
237                                          Vitamin_D
238                                          Vitamin_D
239                                          Vitamin_D
240                                          Vitamin_D
241                                          Vitamin_D
242                                          Vitamin_D
243                                          Vitamin_D
244                                          Vitamin_D
245                                          Vitamin_D
246                                          Vitamin_D
247                                  Equatorial_Guinea
248                                        Netherlands
249                                Pythagorean_theorem
250                                Pythagorean_theorem
251                                         Kubla_Khan
252                                           Seawater
253                              Spacecraft_propulsion
254                              Spacecraft_propulsion
255                              Spacecraft_propulsion
256                              Spacecraft_propulsion
257                              Spacecraft_propulsion
258                                    Abraham_Lincoln
259                                          Nicaragua
260                                Applied_mathematics
261                                Applied_mathematics
262                                Applied_mathematics
263                                Applied_mathematics
264                                Applied_mathematics
265                                Applied_mathematics
266                                Applied_mathematics
267                                Applied_mathematics
268                                Applied_mathematics
269                                      String_theory
270                                      String_theory
271                                      String_theory
272                                      String_theory
273                                      String_theory
274                                      String_theory
275                                      String_theory
276                                      String_theory
277                                      String_theory
278                                      String_theory
279                                      String_theory
280                                      String_theory
281                                       Barbary_Lion
282                                            Vanilla
283                                            Vanilla
284                                            Vanilla
285                                            Vanilla
286                                            Vanilla
287                                            Vanilla
288                                            Vanilla
289                                            Vanilla
290                                            Vanilla
291                              Myocardial_infarction
292                              Myocardial_infarction
293                              Myocardial_infarction
294                                       Muhammad_Ali
295                                       Muhammad_Ali
296                                             Geneva
297                                             Geneva
298                                     Libertarianism
299                                       Jordan_River
300                                       Jordan_River
301                                           Djibouti
302                                     Western_Sahara
303                                     Western_Sahara
304                                     Western_Sahara
305                                   Bath%2C_Somerset
306                                             Curium
307                                             Curium
308                                            Lerwick
309                                  American_football
310                                    Radio_telescope
311                                    Radio_telescope
312                                      Palazzo_Pitti
313                                      Indira_Gandhi
314                                      Indira_Gandhi
315                                      Indira_Gandhi
316                                      Indira_Gandhi
317                                        Zebra_shark
318                                        Zebra_shark
319                                        Zebra_shark
320                                    Darfur_conflict
321                                    Darfur_conflict
322                                    Darfur_conflict
323                                    Darfur_conflict
324                                           Nobelium
325                                         DNA_repair
326                                         DNA_repair
327                                         DNA_repair
328                                         DNA_repair
329                                 Distilled_beverage
330                                 Distilled_beverage
331                                     Able_Archer_83
332                                     Able_Archer_83
333                                     American_Samoa
334                                            Arsenic
335                                           Autorack
336                                           Autorack
337                               Battle_of_Gettysburg
338                               Battle_of_Gettysburg
339                               Battle_of_Gettysburg
340                               Battle_of_Gettysburg
341                               Battle_of_Gettysburg
342                               Battle_of_Gettysburg
343                                 Black-winged_Stilt
344                                             Borage
345                                             Borage
346                                             Borage
347              Boundary_Waters_Canoe_Area_Wilderness
348              Boundary_Waters_Canoe_Area_Wilderness
349                                             Cactus
350                                             Cactus
351                                             Cactus
352                                             Cactus
353                                            Chicken
354                                            Chicken
355                                              Clock
356                                      Colley_Cibber
357                                           Cotopaxi
358                                           Cotopaxi
359                                           Cotopaxi
360                                           Cotopaxi
361                                           Cotopaxi

### **Articles**
Contains the name of the articles

In [18]:
print(f"Number of articles in the dataset: {len(articles)}")
articles.head(10)

Number of articles in the dataset: 4604

                            article
0  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in
1                        %C3%85land
2                %C3%89douard_Manet
3                         %C3%89ire
4        %C3%93engus_I_of_the_Picts
5    %E2%82%AC2_commemorative_coins
6                      10th_century
7                      11th_century
8                      12th_century
9                      13th_century

### Categories

Every row contains an article and its corresponding category.

In [19]:
print(f"Number of rows in the dataset: {len(categories)}")
categories.head()

Number of rows in the dataset: 5204

,article,category
0,%C3%81ed%C3%A1n_mac_Gabr%C3%A1in,subject.History.British_History.British_Histor...
1,%C3%81ed%C3%A1n_mac_Gabr%C3%A1in,subject.People.Historical_figures
2,%C3%85land,subject.Countries
3,%C3%85land,subject.Geography.European_Geography.European_...
4,%C3%89douard_Manet,subject.People.Artists

In [32]:
# Number of articles in each category
n_artcat = categories.groupby(categories["category"]).nunique()

print(f"The number of categories is {len(n_artcat)}")
n_artcat

The number of categories is 129

                                                    article
category
subject.Art.Art                                          36
subject.Art.Artists                                       2
subject.Business_Studies.Business                        28
subject.Business_Studies.Companies                       18
subject.Business_Studies.Currency                        14
...                                                     ...
subject.Science.Physics.Electricity_and_Electro...       20
subject.Science.Physics.General_Physics                  55
subject.Science.Physics.Space_Astronomy                 105
subject.Science.Physics.Space_transport                  33
subject.Science.Physics.The_Planets                      13

[129 rows x 1 columns]

In [43]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(n_artcat)

                                                    article
category
subject.Art.Art                                          36
subject.Art.Artists                                       2
subject.Business_Studies.Business                        28
subject.Business_Studies.Companies                       18
subject.Business_Studies.Currency                        14
subject.Business_Studies.Economics                       28
subject.Citizenship.Animal_and_Human_Rights              17
subject.Citizenship.Community_organisations              11
subject.Citizenship.Conflict_and_Peace                   10
subject.Citizenship.Culture_and_Diversity                16
subject.Citizenship.Education                            17
subject.Citizenship.Environment                          26
subject.Citizenship.Law                                  19
subject.Citizenship.Media                                11
subject.Citizenship.Politics_and_government              97
subject.Countries                                       229
subject.Design_and_Technology.Air_and_Sea_trans...       24
subject.Design_and_Technology.Architecture               53
subject.Design_and_Technology.Engineering                74
subject.Design_and_Technology.Railway_transport          84
subject.Design_and_Technology.Road_transport             19
subject.Everyday_life.Cartoons                           20
subject.Everyday_life.Computer_and_Video_games           26
subject.Everyday_life.Drink                              15
subject.Everyday_life.Everyday_life                      27
subject.Everyday_life.Films                              36
subject.Everyday_life.Food_and_agriculture               97
subject.Everyday_life.Games                              21
subject.Everyday_life.Recreation                         21
subject.Everyday_life.Sports                             32
subject.Everyday_life.Sports_events                      22
subject.Everyday_life.Sports_teams                       16
subject.Everyday_life.Television                         41
subject.Geography.African_Geography                      80
subject.Geography.African_Geography.African_Cou...       57
subject.Geography.Antarctica                              8
subject.Geography.Central_and_South_American_Ge...       35
subject.Geography.Central_and_South_American_Ge...       48
subject.Geography.Climate_and_the_Weather                38
subject.Geography.European_Geography                     83
subject.Geography.European_Geography.European_C...       56
subject.Geography.General_Geography                      65
subject.Geography.Geography_of_Asia                      69
subject.Geography.Geography_of_Asia.Asian_Count...       37
subject.Geography.Geography_of_Great_Britain            124
subject.Geography.Geography_of_Oceania_Australasia       58
subject.Geography.Geography_of_the_Middle_East           18
subject.Geography.Geography_of_the_Middle_East....       18
subject.Geography.Geology_and_geophysics                 76
subject.Geography.Mineralogy                             17
subject.Geography.Natural_Disasters                      39
subject.Geography.North_American_Geography              103
subject.Geography.Peoples                                22
subject.Geography.Storms                                 33
subject.History.Ancient_History_Classical_Histo...       87
subject.History.Archaeology                              11
subject.History.British_History                          14
subject.History.British_History.British_History...       29
subject.History.British_History.British_History...       73
subject.History.British_History.British_History...       24
subject.History.British_History.British_History...       18
subject.History.General_history                          80
subject.History.Historians_chroniclers_and_hist...       10
subject.History.Military_History_and_War                 71
subject.History.North_American_History                   22
subject.History.Pre_1900_Military                        27
subject.History.Recent_History                           48
subject.History.World_War_II                             31
subject.IT.Computer_Programming                          15
subject.IT.Computing_hardware_and_infrastructure         20
subject.IT.Cryptography                                   6
subject.IT.Software                                      23
subject.IT.Websites_and_the_Internet                     21
subject.Language_and_literature.General_Literature       16
subject.Language_and_literature.Languages                47
subject.Language_and_literature.Linguistics              15
subject.Language_and_literature.Literature_types         17
subject.Language_and_literature.Novels                   39
subject.Language_and_literature.Poetry_and_Opera         30
subject.Language_and_literature.Theatre                  32
subject.Mathematics                                      45
subject.Music.Musical_Instruments                        17
subject.Music.Musical_Recordings_and_compositions        18
subject.Music.Musical_genres_styles_eras_and_ev...       46
subject.Music.Performers_and_composers                   16
subject.People.Actors_models_and_celebrities             25
subject.People.Artists                                   36
subject.People.Astronomers_and_physicists                21
subject.People.Chemists                                   8
subject.People.Computing_People                           9
subject.People.Engineers_and_inventors                   25
subject.People.Geographers_and_explorers                 21
subject.People.Historical_figures                       108
subject.People.Human_Scientists                          23
subject.People.Mathematicians                            15
subject.People.Military_People                           22
subject.People.Monarchs_of_Great_Britain                 43
subject.People.Performers_and_composers                  43
subject.People.Philosophers                              23
subject.People.Political_People                          67
subject.People.Producers_directors_and_media_fi...        8
subject.People.Religious_figures_and_leaders             39
subject.People.Sports_and_games_people                   45
subject.People.USA_Presidents                            37
subject.People.Writers_and_critics                       71
subject.Religion.Divinities                              21
subject.Religion.Myths                                   17
subject.Religion.Philosophy                              24
subject.Religion.Religious_disputes                      19
subject.Religion.Religious_movements_traditions...       35
subject.Religion.Religious_texts                         18
subject.Science.Biology.Birds                           161
subject.Science.Biology.Dinosaurs                        59
subject.Science.Biology.Evolution_and_reproduction       11
subject.Science.Biology.General_Biology                  51
subject.Science.Biology.Health_and_medicine             109
subject.Science.Biology.Insects_Reptiles_and_Fish        72
subject.Science.Biology.Mammals                         114
subject.Science.Biology.Organisms                        19
subject.Science.Biology.Plants                          108
subject.Science.Chemistry.Chemical_compounds             42
subject.Science.Chemistry.Chemical_elements             119
subject.Science.Chemistry.General_Chemistry              21
subject.Science.Chemistry.Materials_science              10
subject.Science.Physics.Electricity_and_Electro...       20
subject.Science.Physics.General_Physics                  55
subject.Science.Physics.Space_Astronomy                 105
subject.Science.Physics.Space_transport                  33
subject.Science.Physics.The_Planets                      13

In [50]:
prufa = categories[categories["category"] == "subject.Science.Biology.Birds"]
prufa

,article,category,categories_people
144,African_Black_Oystercatcher,subject.Science.Biology.Birds,False
147,African_Darter,subject.Science.Biology.Birds,False
149,African_Grey_Hornbill,subject.Science.Biology.Birds,False
150,African_Grey_Parrot,subject.Science.Biology.Birds,False
151,African_Jacana,subject.Science.Biology.Birds,False
...,...,...,...
5056,Wigeon,subject.Science.Biology.Birds,False
5119,Wood_Pigeon,subject.Science.Biology.Birds,False
5121,Woodpecker,subject.Science.Biology.Birds,False
5136,Wren,subject.Science.Biology.Birds,False
5157,Yellowhammer,subject.Science.Biology.Birds,False

**Actors_models_and_celebrities**

In [11]:
# Add underscore inbetween first and last names in female_actors dataframe
female_actors.women_label = list(map(lambda x: x.replace(' ', '_'), female_actors.women_label))
female_celeb.women_label = list(map(lambda x: x.replace(' ', '_'), female_celeb.women_label))
female_model.women_label = list(map(lambda x: x.replace(' ', '_'), female_model.women_label))

female.women_label = list(map(lambda x: x.replace(' ', '_'), female.women_label))

In [139]:
# Let's first take a look at the category subject.People.Actors_models_and_celebrities
wikispeedia_actors = categories[categories["category"] == "subject.People.Actors_models_and_celebrities"]
wikispeedia_actors

                        article                                      category
276             Andrew_Robinson  subject.People.Actors_models_and_celebrities
638                 Bette_Davis  subject.People.Actors_models_and_celebrities
760               Brandon_Routh  subject.People.Actors_models_and_celebrities
787              Britney_Spears  subject.People.Actors_models_and_celebrities
793                   Bruce_Lee  subject.People.Actors_models_and_celebrities
971             Charlie_Chaplin  subject.People.Actors_models_and_celebrities
1017             Christian_Bale  subject.People.Actors_models_and_celebrities
1278           Daniel_Day-Lewis  subject.People.Actors_models_and_celebrities
1344               Diane_Keaton  subject.People.Actors_models_and_celebrities
1547               Emma_Roberts  subject.People.Actors_models_and_celebrities
1628           Evan_Rachel_Wood  subject.People.Actors_models_and_celebrities
2145                Henry_Fonda  subject.People.Actors_models_and_celebrities
2161              Henry_Rollins  subject.People.Actors_models_and_celebrities
2493            Jake_Gyllenhaal  subject.People.Actors_models_and_celebrities
2512  James_Stewart_%28actor%29  subject.People.Actors_models_and_celebrities
2519                 Jane_Fonda  subject.People.Actors_models_and_celebrities
2631            Keira_Knightley  subject.People.Actors_models_and_celebrities
2637               Kevin_Spacey  subject.People.Actors_models_and_celebrities
2736           Laurence_Olivier  subject.People.Actors_models_and_celebrities
3157               Miranda_Otto  subject.People.Actors_models_and_celebrities
3295            Natalie_Portman  subject.People.Actors_models_and_celebrities
4087             Sasha_%28DJ%29  subject.People.Actors_models_and_celebrities
4133               Sean_Connery  subject.People.Actors_models_and_celebrities
4178                Sharon_Tate  subject.People.Actors_models_and_celebrities
4940               Vivien_Leigh  subject.People.Actors_models_and_celebrities

In [135]:
act = wikispeedia_actors.merge(female_actors, left_on='article', right_on='women_label')
cele = wikispeedia_actors.merge(female_celeb, left_on='article', right_on='women_label')
mod = wikispeedia_actors.merge(female_model, left_on='article', right_on='women_label')

In [136]:
act

,article,category,women,women_label
0,Bette_Davis,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q71206,Bette_Davis
1,Emma_Roberts,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q228598,Emma_Roberts
2,Evan_Rachel_Wood,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q229230,Evan_Rachel_Wood
3,Jane_Fonda,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q41142,Jane_Fonda
4,Keira_Knightley,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q42581,Keira_Knightley
5,Miranda_Otto,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q294975,Miranda_Otto
6,Natalie_Portman,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q37876,Natalie_Portman
7,Sharon_Tate,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q228699,Sharon_Tate
8,Vivien_Leigh,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q129429,Vivien_Leigh

In [137]:
cele

,article,category,women,women_label
0,Britney_Spears,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q11975,Britney_Spears

In [138]:
mod

,article,category,women,women_label
0,Britney_Spears,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q11975,Britney_Spears
1,Emma_Roberts,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q228598,Emma_Roberts
2,Evan_Rachel_Wood,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q229230,Evan_Rachel_Wood
3,Sharon_Tate,subject.People.Actors_models_and_celebrities,http://www.wikidata.org/entity/Q228699,Sharon_Tate

In [117]:
wikispeedia_actors

                        article                                      category
276             Andrew_Robinson  subject.People.Actors_models_and_celebrities
638                 Bette_Davis  subject.People.Actors_models_and_celebrities
760               Brandon_Routh  subject.People.Actors_models_and_celebrities
787              Britney_Spears  subject.People.Actors_models_and_celebrities
793                   Bruce_Lee  subject.People.Actors_models_and_celebrities
971             Charlie_Chaplin  subject.People.Actors_models_and_celebrities
1017             Christian_Bale  subject.People.Actors_models_and_celebrities
1278           Daniel_Day-Lewis  subject.People.Actors_models_and_celebrities
1344               Diane_Keaton  subject.People.Actors_models_and_celebrities
1547               Emma_Roberts  subject.People.Actors_models_and_celebrities
1628           Evan_Rachel_Wood  subject.People.Actors_models_and_celebrities
2145                Henry_Fonda  subject.People.Actors_models_and_celebrities
2161              Henry_Rollins  subject.People.Actors_models_and_celebrities
2493            Jake_Gyllenhaal  subject.People.Actors_models_and_celebrities
2512  James_Stewart_%28actor%29  subject.People.Actors_models_and_celebrities
2519                 Jane_Fonda  subject.People.Actors_models_and_celebrities
2631            Keira_Knightley  subject.People.Actors_models_and_celebrities
2637               Kevin_Spacey  subject.People.Actors_models_and_celebrities
2736           Laurence_Olivier  subject.People.Actors_models_and_celebrities
3157               Miranda_Otto  subject.People.Actors_models_and_celebrities
3295            Natalie_Portman  subject.People.Actors_models_and_celebrities
4087             Sasha_%28DJ%29  subject.People.Actors_models_and_celebrities
4133               Sean_Connery  subject.People.Actors_models_and_celebrities
4178                Sharon_Tate  subject.People.Actors_models_and_celebrities
4940               Vivien_Leigh  subject.People.Actors_models_and_celebrities

**TACKLE ALL PEOPLE CATEGORIES**

In [5]:
df = categories
df['categories_people'] = list(
    map(lambda x: x.startswith('subject.People.'), df['category']))

In [6]:
people = df[df["categories_people"] == True]
people

,article,category,categories_people
1,%C3%81ed%C3%A1n_mac_Gabr%C3%A1in,subject.People.Historical_figures,True
4,%C3%89douard_Manet,subject.People.Artists,True
8,%C3%93engus_I_of_the_Picts,subject.People.Historical_figures,True
67,A._E._J._Collins,subject.People.Sports_and_games_people,True
88,Abbas_I_of_Persia,subject.People.Historical_figures,True
...,...,...,...
5188,Zhang_Qian,subject.People.Historical_figures,True
5190,Zheng_He,subject.People.Historical_figures,True
5191,Ziad_Jarrah,subject.People.Historical_figures,True
5197,Zionism,subject.People.Political_People,True
5200,Zoroaster,subject.People.Religious_figures_and_leaders,True

In [7]:
prufa = people.merge(female, left_on='article', right_on='women_label')

In [8]:
prufa

,article,category,categories_people,women,women_label
0,H.D.,subject.People.Writers_and_critics,True,http://www.wikidata.org/entity/Q236469,H.D.
1,Selena,subject.People.Performers_and_composers,True,http://www.wikidata.org/entity/Q42718422,Selena
2,Selena,subject.People.Performers_and_composers,True,http://www.wikidata.org/entity/Q522995,Selena

#### Check every subgroup

In [35]:
actors = categories[categories["category"] == "subject.People.Actors_models_and_celebrities"]
artist = categories[categories["category"] == "subject.People.Artists"]
astro = categories[categories["category"] == "subject.People.Astronomers_and_physicists"]
chemist = categories[categories["category"] == "subject.People.Chemists"]
comp = categories[categories["category"] == "subject.People.Computing_People"]
eng = categories[categories["category"] == "subject.People.Engineers_and_inventors"]
geo = categories[categories["category"] == "subject.People.Geographers_and_explorers"]
hist = categories[categories["category"] == "subject.People.Historical_figures"]

humsci = categories[categories["category"] == "subject.People.Human_Scientists"]
math = categories[categories["category"] == "subject.People.Mathematicians"]
mil = categories[categories["category"] == "subject.People.Military_People"]
mon = categories[categories["category"] == "subject.People.Monarchs_of_Great_Britain"]
perf = categories[categories["category"] == "subject.People.Performers_and_composers"]
phil = categories[categories["category"] == "subject.People.Philosophers"]
pol = categories[categories["category"] == "subject.People.Political_People"]
prod = categories[categories["category"] == "subject.People.Producers_directors_and_media_figures"] 

rel = categories[categories["category"] == "subject.People.Religious_figures_and_leaders"]
sport = categories[categories["category"] == "subject.People.Sports_and_games_people"]
usa = categories[categories["category"] == "subject.People.USA_Presidents"]
writ = categories[categories["category"] == "subject.People.Writers_and_critics"]

In [44]:
actors

,article,category,categories_people
276,Andrew_Robinson,subject.People.Actors_models_and_celebrities,True
638,Bette_Davis,subject.People.Actors_models_and_celebrities,True
760,Brandon_Routh,subject.People.Actors_models_and_celebrities,True
787,Britney_Spears,subject.People.Actors_models_and_celebrities,True
793,Bruce_Lee,subject.People.Actors_models_and_celebrities,True
971,Charlie_Chaplin,subject.People.Actors_models_and_celebrities,True
1017,Christian_Bale,subject.People.Actors_models_and_celebrities,True
1278,Daniel_Day-Lewis,subject.People.Actors_models_and_celebrities,True
1344,Diane_Keaton,subject.People.Actors_models_and_celebrities,True
1547,Emma_Roberts,subject.People.Actors_models_and_celebrities,True
1628,Evan_Rachel_Wood,subject.People.Actors_models_and_celebrities,True
2145,Henry_Fonda,subject.People.Actors_models_and_celebrities,True
2161,Henry_Rollins,subject.People.Actors_models_and_celebrities,True
2493,Jake_Gyllenhaal,subject.People.Actors_models_and_celebrities,True
2512,James_Stewart_%28actor%29,subject.People.Actors_models_and_celebrities,True
2519,Jane_Fonda,subject.People.Actors_models_and_celebrities,True
2631,Keira_Knightley,subject.People.Actors_models_and_celebrities,True
2637,Kevin_Spacey,subject.People.Actors_models_and_celebrities,True
2736,Laurence_Olivier,subject.People.Actors_models_and_celebrities,True
3157,Miranda_Otto,subject.People.Actors_models_and_celebrities,True
3295,Natalie_Portman,subject.People.Actors_models_and_celebrities,True
4087,Sasha_%28DJ%29,subject.People.Actors_models_and_celebrities,True
4133,Sean_Connery,subject.People.Actors_models_and_celebrities,True
4178,Sharon_Tate,subject.People.Actors_models_and_celebrities,True
4940,Vivien_Leigh,subject.People.Actors_models_and_celebrities,True

In [45]:
12+1+1+10+3+1+6+6+7+2+3+7

59

### Links

Contains the source and target article that the dataset contains.

In [51]:
print(f"Number of combinations of source and target articles in the dataset: {len(links)}")
links

Number of combinations of source and target articles in the dataset: 119882

                             link_source     link_target
0       %C3%81ed%C3%A1n_mac_Gabr%C3%A1in            Bede
1       %C3%81ed%C3%A1n_mac_Gabr%C3%A1in         Columba
2       %C3%81ed%C3%A1n_mac_Gabr%C3%A1in  D%C3%A1l_Riata
3       %C3%81ed%C3%A1n_mac_Gabr%C3%A1in   Great_Britain
4       %C3%81ed%C3%A1n_mac_Gabr%C3%A1in         Ireland
...                                  ...             ...
119877                              Zulu    South_Africa
119878                              Zulu       Swaziland
119879                              Zulu  United_Kingdom
119880                              Zulu          Zambia
119881                              Zulu        Zimbabwe

[119882 rows x 2 columns]

### Finished paths

In [36]:
print(f"Number of finished paths: {len(paths_finished)}")
paths_finished.head(5)

Number of finished paths: 51318

,hashedIpAddress,timestamp,durationInSec,path,rating
0,6a3701d319fc3754,1297740409,166,14th_century;15th_century;16th_century;Pacific...,NaN
1,3824310e536af032,1344753412,88,14th_century;Europe;Africa;Atlantic_slave_trad...,3.0
2,415612e93584d30e,1349298640,138,14th_century;Niger;Nigeria;British_Empire;Slav...,NaN
3,64dd5cd342e3780c,1265613925,37,14th_century;Renaissance;Ancient_Greece;Greece,NaN
4,015245d773376aab,1366730828,175,14th_century;Italy;Roman_Catholic_Church;HIV;R...,3.0

### Unfinished paths

In [38]:
print(f"Number of finished paths: {len(paths_unfinished)}")
paths_unfinished.head(5)

Number of finished paths: 24875

,hashedIpAddress,timestamp,durationInSec,path,target,type
0,2426091a53125110,1297054935,1804,Obi-Wan_Kenobi,Microsoft,timeout
1,26141fd878806294,1297055651,1805,Julius_Caesar,Caracas,timeout
2,2b015fb8181c48f2,1297090819,1818,Malawi;Democracy;Alexander_the_Great,First_Crusade,timeout
3,53a53bc244e08a6a,1297094761,49,Paraguay,Mount_St._Helens,restart
4,53a53bc244e08a6a,1297099105,1808,Paraguay;Bolivia,Mount_St._Helens,timeout